@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* CUSTOM SCROLLBAR */

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
}

/* END OF CSS SNIPPET */

::selection {
    background: var(--yellow);
    color: var(--white);
}

:root {
    --yellow: #FBC220;
    --blue: #1E90FF;
    --dark-blue: #000011;
    --white: #FFFFFF;
}

* {
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
    background: transparent;
    color: var(--white);
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: var(--dark-blue);
}

strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: var(--blue);
    border-bottom: 1px dotted;
}

#navbar {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #001155;
    background: rgba(0, 0, 20, 0.5);
    backdrop-filter: blur(5px);
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#navbar li {
    flex: 1;
}

#navbar-logo-link {
    border: none;
}

.navbar-link {
    display: inline-block;
    border: none;
    color: var(--white);
}

.navbar-link:after {
    display: block;
    content: '';
    border-bottom: solid 1px;
    transform: scaleX(0);
    transform-origin:  0% 50%;
    transition: transform 250ms ease-in-out;
}

.navbar-link:hover:after {
    transform: scaleX(1);
}

#navbar-logo {
    height: 50px;
    border-radius: 75px;
}

.navbar-no-border:after {
    border: none !important;
}

#navbar-hire-btn {
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--blue);
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, transparent 50%, var(--blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s;
}

#navbar-hire-btn:hover {
    background-position: left bottom;
}

#top {
    height: 100vh;
    width: 85vw;
    margin-top: 9.6vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#top center {
    margin-top: 150px;
}

.top-header {
    font-size: 8vh;
    margin-bottom: 50px;
}

.section {
    margin: 10.98vw;
    font-size: 2.7vh;
    line-height: 30px;
}

.section h1 {
    font-size: 7vh;
}

.section h1,
.section h2 {
    margin: 70px 0 40px 0;
}

#hire-now {
    cursor: pointer;
    outline: none;
    font-size: 17px;
    height: 50px;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid var(--yellow);
    border-radius: 5px;
    background: linear-gradient(90deg, var(--yellow) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s;
}

#hire-now:hover {
    background-position: left bottom;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: 100px;
    text-align: center;
    margin: 60px;
    border-radius: 10px;
}

.flex-item img {
    height: 12vh;
    margin: 10px;
}

#social-links img {
    height: 35px;
}

#social-links a {
    border: none;
    margin: 30px;
}

@supports not (backdrop-filter: blur(5px)) {
    #navbar {
        background: rgba(0, 0, 20, 0.8);
    }
}

@media only screen and (max-width: 770px) {
    .hide-mobile {
        display: none;
    }

    .top-header {
        text-align: left;
    }

    #navbar-hire-btn {
        margin-left: -50px;
    }
}