@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* CUSTOM SCROLLBAR */

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
}

/* END OF CSS SNIPPET */

::selection {
    background: var(--yellow);
    color: var(--white);
}

:root {
    --yellow: #FBC220;
    --dark-blue: #000011;
    --white: #FFFFFF;
}

* {
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
    background: transparent;
    color: var(--white);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: var(--dark-blue);
}

strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: all 100ms;
}

#top {
    height: 100vh;
    width: 85vw;
    margin-top: 9.6vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#my-logo {
    height: 75px;
    border-radius: 75px;
    margin-bottom: 30px;
}

#top-icons {
    display: flex;
    align-items: center;
}

.social-link {
    border: none;
}

.social-icon {
    margin: 0 0 30px 30px;
    height: 35px;
}

.top-header {
    font-size: 7vh;
    margin: 20px 0 20px 0;
}

.section {
    margin: 10.98vw;
    font-size: 2.7vh;
    line-height: 30px;
}

.section h1 {
    font-size: 7vh;
}

.section h1,
.section h2 {
    margin: 70px 0 40px 0;
}

#hire-now {
    cursor: pointer;
    outline: none;
    font-size: 17px;
    height: 50px;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid var(--yellow);
    border-radius: 5px;
    background: linear-gradient(to right, var(--yellow) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 500ms;
}

#hire-now:hover {
    background-position: left bottom;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: 100px;
    text-align: center;
    margin: 60px;
    border-radius: 10px;
}

.flex-item img {
    height: 12vh;
    margin: 10px;
}

@media only screen and (max-width: 770px) {
    #lighthouse-report img {
        width: 80vw;
    }
}